In [1]:
import pandas as pd

import numpy as np

import random

import csv

In [2]:
df = pd.read_excel("USstockdata.xlsx")

In [3]:
#removes rows with empty data and data containing strings and errors

df.dropna()


df = df[df.Returns != "C"]
df = df[df.Returns != "B"]

In [4]:
# converts data to proper formats, high precision floats and datetime

df["Returns"] = df["Returns"].astype(np.float64)
df["Names Date"] = pd.to_datetime(df["Names Date"])
df.set_index(df["Names Date"])
# df = df.set_index(pd.DatetimeIndex(df["Names Date"]))

            PERMNO Names Date   Returns
Names Date
2007-01-31   10001 2007-01-31  0.023279
2007-02-28   10001 2007-02-28  0.261621
2007-03-30   10001 2007-03-30  0.019732
2007-04-30   10001 2007-04-30  0.002764
2007-05-31   10001 2007-05-31  0.043418
2007-06-29   10001 2007-06-29  0.000667
2007-07-31   10001 2007-07-31 -0.056667
2007-08-31   10001 2007-08-31  0.027562
2007-09-28   10001 2007-09-28 -0.032325
2007-10-31   10001 2007-10-31 -0.040259
2007-11-30   10001 2007-11-30  0.079401
2007-12-31   10001 2007-12-31 -0.003930
2008-01-31   10001 2008-01-31 -0.006082
2008-02-29   10001 2008-02-29  0.021704
2008-03-31   10001 2008-03-31 -0.052516
2008-04-30   10001 2008-04-30 -0.036698
2008-05-30   10001 2008-05-30  0.271628
2008-06-30   10001 2008-06-30 -0.010092
2008-07-31   10001 2008-07-31 -0.053023
2008-08-29   10001 2008-08-29 -0.019724
2008-09-30   10001 2008-09-30 -0.137374
2008-10-31   10001 2008-10-31 -0.018824
2008-11-28   10001 2008-11-28 -0.130121
2008-12-31   10001 2008-12-31  0.155989
2009-01-30   10001 2009-01-30  0.034140
2009-02-27   10001 2009-02-27  0.056222
2009-03-31   10001 2009-03-31 -0.080537
2009-04-30   10001 2009-04-30  0.044621
2009-05-29   10001 2009-05-29  0.002941
2009-06-30   10001 2009-06-30  0.019446
...            ...        ...       ...
2013-07-31   93436 2013-07-31  0.250745
2013-08-30   93436 2013-08-30  0.258564
2013-09-30   93436 2013-09-30  0.144201
2013-10-31   93436 2013-10-31 -0.172881
2013-11-29   93436 2013-11-29 -0.204202
2013-12-31   93436 2013-12-31  0.181875
2014-01-31   93436 2014-01-31  0.205951
2014-02-28   93436 2014-02-28  0.349485
2014-03-31   93436 2014-03-31 -0.148523
2014-04-30   93436 2014-04-30 -0.002686
2014-05-30   93436 2014-05-30 -0.000577
2014-06-30   93436 2014-06-30  0.155412
2014-07-31   93436 2014-07-31 -0.069816
2014-08-29   93436 2014-08-29  0.207792
2014-09-30   93436 2014-09-30 -0.100185
2014-10-31   93436 2014-10-31 -0.004038
2014-11-28   93436 2014-11-28  0.011667
2014-12-31   93436 2014-12-31 -0.090422
2015-01-30   93436 2015-01-30 -0.084574
2015-02-27   93436 2015-02-27 -0.001277
2015-03-31   93436 2015-03-31 -0.071653
2015-04-30   93436 2015-04-30  0.197489
2015-05-29   93436 2015-05-29  0.109489
2015-06-30   93436 2015-06-30  0.069617
2015-07-31   93436 2015-07-31 -0.007866
2015-08-31   93436 2015-08-31 -0.064212
2015-09-30   93436 2015-09-30 -0.002650
2015-10-30   93436 2015-10-30 -0.166948
2015-11-30   93436 2015-11-30  0.112743
2015-12-31   93436 2015-12-31  0.042343

[738092 rows x 3 columns]

In [142]:
# df.set_index(df["Names Date"])
# df_m = df.groupby(["PERMNO", pd.TimeGrouper(freq='M')])["Returns"].sum()

In [20]:


def sampling_function(number_in_sample, number_of_repeats):
    """
    Takes a random sample of stocks and calculates average monthly return for a group of them
    Data is stored in a csv file for further analysis
    Args:
    number_in_sample: number of different stocks
    number_of_repeats: times the function was run
    """
    for n in xrange(1, number_of_repeats):
        dfList = df["PERMNO"].tolist()
        rand_smpl = [ dfList[i] for i in sorted(random.sample(xrange(len(dfList)), number_in_sample)) ]
        with open('filename.csv', 'a') as myfile:
            wr = csv.writer(myfile, quoting=csv.QUOTE_ALL)
            wr.writerow(rand_smpl)

        random_sample_df = df[df["PERMNO"].isin(rand_smpl)]
        series_sum_monthly = random_sample_df.groupby( pd.TimeGrouper(freq='M'))["Returns"].sum()
        frame_sum_monthly = series_sum_monthly.to_frame()
        frame_sum_monthly["Ratio"] = frame_sum_monthly.Returns/number_in_sample
        frame_sum_monthly.to_csv('filename.csv',mode = 'a',header ='column_names')
        
    return

In [21]:
b = sampling_function(10, 10)

array([(10001, Timestamp('2007-01-31 00:00:00')),
       (10001, Timestamp('2007-02-28 00:00:00')),
       (10001, Timestamp('2007-03-31 00:00:00')), ...,
       (93436, Timestamp('2015-10-31 00:00:00')),
       (93436, Timestamp('2015-11-30 00:00:00')),
       (93436, Timestamp('2015-12-31 00:00:00'))], dtype=object)

In [147]:
ff = df_sum_per_month.to_frame()

In [150]:
ff.Returns[0]

151.32491100000007

In [158]:
frame_sum_monthly.head()

             Returns     Ratio
2007-01-31  0.369918  0.018496
2007-02-28  0.020534  0.001027
2007-03-31  0.663329  0.033166
2007-04-30  0.988157  0.049408
2007-05-31  1.247615  0.062381

In [161]:
series_sum_monthly1 = random_sample_df.groupby( pd.TimeGrouper(freq='M'))["Returns"].sum()

In [159]:
bb = frame_sum_monthly.to_list()

AttributeError: 'DataFrame' object has no attribute 'to_list'

In [157]:
print bb

{'Returns': {Timestamp('2011-07-31 00:00:00', offset='M'): -0.79892300000000005, Timestamp('2010-12-31 00:00:00', offset='M'): 1.619977, Timestamp('2014-02-28 00:00:00', offset='M'): 0.71558900000000003, Timestamp('2008-02-29 00:00:00', offset='M'): -0.44246200000000013, Timestamp('2014-07-31 00:00:00', offset='M'): -1.4649880000000004, Timestamp('2013-04-30 00:00:00', offset='M'): 0.2615050000000001, Timestamp('2009-02-28 00:00:00', offset='M'): -3.047485, Timestamp('2013-07-31 00:00:00', offset='M'): 1.4097089999999999, Timestamp('2012-08-31 00:00:00', offset='M'): 0.82909600000000006, Timestamp('2008-09-30 00:00:00', offset='M'): -1.796152, Timestamp('2012-04-30 00:00:00', offset='M'): -0.59827700000000006, Timestamp('2009-04-30 00:00:00', offset='M'): 4.3369040000000005, Timestamp('2009-07-31 00:00:00', offset='M'): 1.7646620000000002, Timestamp('2009-11-30 00:00:00', offset='M'): 0.14339199999999999, Timestamp('2008-04-30 00:00:00', offset='M'): 0.18656000000000009, Timestamp('2012-07-31 00:00:00', offset='M'): -0.17936399999999997, Timestamp('2009-08-31 00:00:00', offset='M'): 0.85094499999999995, Timestamp('2013-02-28 00:00:00', offset='M'): 0.19551200000000002, Timestamp('2012-02-29 00:00:00', offset='M'): 0.19480800000000001, Timestamp('2008-07-31 00:00:00', offset='M'): 0.45920300000000008, Timestamp('2013-09-30 00:00:00', offset='M'): 1.7595470000000002, Timestamp('2015-07-31 00:00:00', offset='M'): -1.5378510000000001, Timestamp('2011-06-30 00:00:00', offset='M'): -0.34542499999999998, Timestamp('2011-05-31 00:00:00', offset='M'): 0.35051300000000002, Timestamp('2011-12-31 00:00:00', offset='M'): 0.28034500000000007, Timestamp('2012-09-30 00:00:00', offset='M'): 1.8176220000000001, Timestamp('2010-11-30 00:00:00', offset='M'): 0.96412900000000012, Timestamp('2010-01-31 00:00:00', offset='M'): -0.16865900000000009, Timestamp('2013-06-30 00:00:00', offset='M'): 0.42270600000000014, Timestamp('2009-06-30 00:00:00', offset='M'): 0.19310700000000011, Timestamp('2015-11-30 00:00:00', offset='M'): -0.95340599999999998, Timestamp('2012-05-31 00:00:00', offset='M'): -1.1427910000000001, Timestamp('2009-01-31 00:00:00', offset='M'): -2.006678, Timestamp('2011-11-30 00:00:00', offset='M'): -1.0502699999999998, Timestamp('2013-11-30 00:00:00', offset='M'): 1.2927729999999999, Timestamp('2009-10-31 00:00:00', offset='M'): -1.1604340000000002, Timestamp('2015-12-31 00:00:00', offset='M'): -0.50446099999999994, Timestamp('2011-02-28 00:00:00', offset='M'): 1.2714519999999998, Timestamp('2007-12-31 00:00:00', offset='M'): 0.025350999999999832, Timestamp('2015-05-31 00:00:00', offset='M'): -0.13215100000000005, Timestamp('2014-08-31 00:00:00', offset='M'): 0.86184099999999997, Timestamp('2008-05-31 00:00:00', offset='M'): 0.087464000000000014, Timestamp('2013-08-31 00:00:00', offset='M'): -0.76700999999999997, Timestamp('2008-12-31 00:00:00', offset='M'): 1.0104730000000002, Timestamp('2015-06-30 00:00:00', offset='M'): 0.47588199999999997, Timestamp('2014-01-31 00:00:00', offset='M'): -0.24065200000000009, Timestamp('2007-07-31 00:00:00', offset='M'): -0.14083299999999993, Timestamp('2010-08-31 00:00:00', offset='M'): -1.1462650000000001, Timestamp('2013-01-31 00:00:00', offset='M'): 1.8978449999999998, Timestamp('2015-02-28 00:00:00', offset='M'): 1.8575409999999999, Timestamp('2010-03-31 00:00:00', offset='M'): 1.6725719999999995, Timestamp('2011-03-31 00:00:00', offset='M'): -0.144398, Timestamp('2009-03-31 00:00:00', offset='M'): 2.3381419999999999, Timestamp('2011-09-30 00:00:00', offset='M'): -2.2772600000000001, Timestamp('2010-04-30 00:00:00', offset='M'): 1.5781790000000002, Timestamp('2007-11-30 00:00:00', offset='M'): -2.4437120000000006, Timestamp('2014-12-31 00:00:00', offset='M'): 0.54350700000000007, Timestamp('2007-01-31 00:00:00', offset='M'): 0.36991800000000014, Timestamp('2014-10-31 00:00:00', offset='M'): 0.77367300000000006, Timestamp('2011-10-31 00:00:00', offset='M'): 3.1124859999999996, Timestamp('2008-03-31 00:00:00', offset='M'): -0.54163699999999992, Timestamp('2015-10-31 00:00:00', offset='M'): 1.7053540000000007, Timestamp('2012-11-30 00:00:00', offset='M'): 0.68252400000000002, Timestamp('2014-09-30 00:00:00', offset='M'): -1.2496809999999998, Timestamp('2012-12-31 00:00:00', offset='M'): 0.57094100000000003, Timestamp('2015-03-31 00:00:00', offset='M'): -0.65861800000000015, Timestamp('2014-04-30 00:00:00', offset='M'): -0.63187899999999975, Timestamp('2009-12-31 00:00:00', offset='M'): 2.9652789999999998, Timestamp('2013-10-31 00:00:00', offset='M'): 1.5975250000000003, Timestamp('2010-10-31 00:00:00', offset='M'): 0.362703, Timestamp('2008-10-31 00:00:00', offset='M'): -3.9196020000000003, Timestamp('2010-02-28 00:00:00', offset='M'): 0.51877600000000001, Timestamp('2013-03-31 00:00:00', offset='M'): 0.50885400000000014, Timestamp('2015-04-30 00:00:00', offset='M'): 0.48563599999999996, Timestamp('2014-03-31 00:00:00', offset='M'): 0.45559699999999997, Timestamp('2007-06-30 00:00:00', offset='M'): -0.22587099999999996, Timestamp('2010-09-30 00:00:00', offset='M'): 2.3721740000000007, Timestamp('2015-09-30 00:00:00', offset='M'): -1.3040689999999999, Timestamp('2007-05-31 00:00:00', offset='M'): 1.2476149999999999, Timestamp('2007-09-30 00:00:00', offset='M'): 0.39533799999999997, Timestamp('2012-03-31 00:00:00', offset='M'): 0.58074100000000017, Timestamp('2010-05-31 00:00:00', offset='M'): -1.2891239999999999, Timestamp('2007-10-31 00:00:00', offset='M'): 1.9239709999999999, Timestamp('2007-02-28 00:00:00', offset='M'): 0.020533999999999997, Timestamp('2011-08-31 00:00:00', offset='M'): -1.9735060000000002, Timestamp('2013-12-31 00:00:00', offset='M'): 0.37446500000000005, Timestamp('2011-01-31 00:00:00', offset='M'): 0.37814500000000001, Timestamp('2014-11-30 00:00:00', offset='M'): -0.61947200000000002, Timestamp('2008-01-31 00:00:00', offset='M'): -1.71933, Timestamp('2014-05-31 00:00:00', offset='M'): 0.056707999999999953, Timestamp('2015-01-31 00:00:00', offset='M'): -1.1866649999999999, Timestamp('2014-06-30 00:00:00', offset='M'): 0.75859799999999999, Timestamp('2008-11-30 00:00:00', offset='M'): -3.3431599999999997, Timestamp('2013-05-31 00:00:00', offset='M'): 1.1314679999999999, Timestamp('2012-10-31 00:00:00', offset='M'): -0.72372400000000003, Timestamp('2008-08-31 00:00:00', offset='M'): 0.85074099999999975, Timestamp('2010-06-30 00:00:00', offset='M'): -1.3550240000000002, Timestamp('2007-04-30 00:00:00', offset='M'): 0.98815700000000017, Timestamp('2009-05-31 00:00:00', offset='M'): 2.195792, Timestamp('2007-03-31 00:00:00', offset='M'): 0.66332899999999995, Timestamp('2015-08-31 00:00:00', offset='M'): -1.5093249999999998, Timestamp('2012-01-31 00:00:00', offset='M'): 1.5652630000000001, Timestamp('2007-08-31 00:00:00', offset='M'): -0.55908899999999995, Timestamp('2012-06-30 00:00:00', offset='M'): 0.34909599999999996, Timestamp('2010-07-31 00:00:00', offset='M'): 0.86429, Timestamp('2011-04-30 00:00:00', offset='M'): 0.30016400000000004, Timestamp('2009-09-30 00:00:00', offset='M'): 3.481169, Timestamp('2008-06-30 00:00:00', offset='M'): -1.753422}, 'Ratio': {Timestamp('2011-07-31 00:00:00', offset='M'): -0.03994615, Timestamp('2010-12-31 00:00:00', offset='M'): 0.080998849999999997, Timestamp('2014-02-28 00:00:00', offset='M'): 0.035779450000000004, Timestamp('2008-02-29 00:00:00', offset='M'): -0.022123100000000007, Timestamp('2014-07-31 00:00:00', offset='M'): -0.07324940000000002, Timestamp('2013-04-30 00:00:00', offset='M'): 0.013075250000000005, Timestamp('2009-02-28 00:00:00', offset='M'): -0.15237424999999999, Timestamp('2013-07-31 00:00:00', offset='M'): 0.070485449999999991, Timestamp('2012-08-31 00:00:00', offset='M'): 0.0414548, Timestamp('2008-09-30 00:00:00', offset='M'): -0.089807600000000001, Timestamp('2012-04-30 00:00:00', offset='M'): -0.029913850000000002, Timestamp('2009-04-30 00:00:00', offset='M'): 0.21684520000000002, Timestamp('2009-07-31 00:00:00', offset='M'): 0.088233100000000009, Timestamp('2009-11-30 00:00:00', offset='M'): 0.0071695999999999999, Timestamp('2008-04-30 00:00:00', offset='M'): 0.0093280000000000047, Timestamp('2012-07-31 00:00:00', offset='M'): -0.0089681999999999991, Timestamp('2009-08-31 00:00:00', offset='M'): 0.042547249999999995, Timestamp('2013-02-28 00:00:00', offset='M'): 0.0097756000000000006, Timestamp('2012-02-29 00:00:00', offset='M'): 0.0097403999999999998, Timestamp('2008-07-31 00:00:00', offset='M'): 0.022960150000000006, Timestamp('2013-09-30 00:00:00', offset='M'): 0.08797735000000001, Timestamp('2015-07-31 00:00:00', offset='M'): -0.076892550000000004, Timestamp('2011-06-30 00:00:00', offset='M'): -0.017271249999999998, Timestamp('2011-05-31 00:00:00', offset='M'): 0.01752565, Timestamp('2011-12-31 00:00:00', offset='M'): 0.014017250000000004, Timestamp('2012-09-30 00:00:00', offset='M'): 0.090881100000000006, Timestamp('2010-11-30 00:00:00', offset='M'): 0.048206450000000005, Timestamp('2010-01-31 00:00:00', offset='M'): -0.008432950000000005, Timestamp('2013-06-30 00:00:00', offset='M'): 0.021135300000000006, Timestamp('2009-06-30 00:00:00', offset='M'): 0.0096553500000000052, Timestamp('2015-11-30 00:00:00', offset='M'): -0.047670299999999999, Timestamp('2012-05-31 00:00:00', offset='M'): -0.057139550000000004, Timestamp('2009-01-31 00:00:00', offset='M'): -0.1003339, Timestamp('2011-11-30 00:00:00', offset='M'): -0.052513499999999991, Timestamp('2013-11-30 00:00:00', offset='M'): 0.064638649999999992, Timestamp('2009-10-31 00:00:00', offset='M'): -0.058021700000000009, Timestamp('2015-12-31 00:00:00', offset='M'): -0.025223049999999997, Timestamp('2011-02-28 00:00:00', offset='M'): 0.063572599999999993, Timestamp('2007-12-31 00:00:00', offset='M'): 0.0012675499999999916, Timestamp('2015-05-31 00:00:00', offset='M'): -0.006607550000000002, Timestamp('2014-08-31 00:00:00', offset='M'): 0.04309205, Timestamp('2008-05-31 00:00:00', offset='M'): 0.0043732000000000007, Timestamp('2013-08-31 00:00:00', offset='M'): -0.038350499999999996, Timestamp('2008-12-31 00:00:00', offset='M'): 0.05052365000000001, Timestamp('2015-06-30 00:00:00', offset='M'): 0.023794099999999999, Timestamp('2014-01-31 00:00:00', offset='M'): -0.012032600000000004, Timestamp('2007-07-31 00:00:00', offset='M'): -0.0070416499999999965, Timestamp('2010-08-31 00:00:00', offset='M'): -0.057313250000000003, Timestamp('2013-01-31 00:00:00', offset='M'): 0.094892249999999984, Timestamp('2015-02-28 00:00:00', offset='M'): 0.092877049999999989, Timestamp('2010-03-31 00:00:00', offset='M'): 0.08362859999999997, Timestamp('2011-03-31 00:00:00', offset='M'): -0.0072198999999999996, Timestamp('2009-03-31 00:00:00', offset='M'): 0.1169071, Timestamp('2011-09-30 00:00:00', offset='M'): -0.11386300000000001, Timestamp('2010-04-30 00:00:00', offset='M'): 0.078908950000000005, Timestamp('2007-11-30 00:00:00', offset='M'): -0.12218560000000003, Timestamp('2014-12-31 00:00:00', offset='M'): 0.027175350000000004, Timestamp('2007-01-31 00:00:00', offset='M'): 0.018495900000000006, Timestamp('2014-10-31 00:00:00', offset='M'): 0.03868365, Timestamp('2011-10-31 00:00:00', offset='M'): 0.15562429999999999, Timestamp('2008-03-31 00:00:00', offset='M'): -0.027081849999999998, Timestamp('2015-10-31 00:00:00', offset='M'): 0.08526770000000003, Timestamp('2012-11-30 00:00:00', offset='M'): 0.034126200000000002, Timestamp('2014-09-30 00:00:00', offset='M'): -0.062484049999999992, Timestamp('2012-12-31 00:00:00', offset='M'): 0.028547050000000001, Timestamp('2015-03-31 00:00:00', offset='M'): -0.032930900000000006, Timestamp('2014-04-30 00:00:00', offset='M'): -0.031593949999999989, Timestamp('2009-12-31 00:00:00', offset='M'): 0.14826394999999998, Timestamp('2013-10-31 00:00:00', offset='M'): 0.07987625000000001, Timestamp('2010-10-31 00:00:00', offset='M'): 0.018135149999999999, Timestamp('2008-10-31 00:00:00', offset='M'): -0.19598010000000002, Timestamp('2010-02-28 00:00:00', offset='M'): 0.025938800000000001, Timestamp('2013-03-31 00:00:00', offset='M'): 0.025442700000000006, Timestamp('2015-04-30 00:00:00', offset='M'): 0.024281799999999999, Timestamp('2014-03-31 00:00:00', offset='M'): 0.022779849999999997, Timestamp('2007-06-30 00:00:00', offset='M'): -0.011293549999999998, Timestamp('2010-09-30 00:00:00', offset='M'): 0.11860870000000004, Timestamp('2015-09-30 00:00:00', offset='M'): -0.065203449999999996, Timestamp('2007-05-31 00:00:00', offset='M'): 0.062380749999999999, Timestamp('2007-09-30 00:00:00', offset='M'): 0.019766899999999997, Timestamp('2012-03-31 00:00:00', offset='M'): 0.029037050000000009, Timestamp('2010-05-31 00:00:00', offset='M'): -0.064456199999999991, Timestamp('2007-10-31 00:00:00', offset='M'): 0.096198549999999994, Timestamp('2007-02-28 00:00:00', offset='M'): 0.0010266999999999997, Timestamp('2011-08-31 00:00:00', offset='M'): -0.098675300000000007, Timestamp('2013-12-31 00:00:00', offset='M'): 0.018723250000000004, Timestamp('2011-01-31 00:00:00', offset='M'): 0.01890725, Timestamp('2014-11-30 00:00:00', offset='M'): -0.0309736, Timestamp('2008-01-31 00:00:00', offset='M'): -0.085966500000000001, Timestamp('2014-05-31 00:00:00', offset='M'): 0.0028353999999999975, Timestamp('2015-01-31 00:00:00', offset='M'): -0.05933324999999999, Timestamp('2014-06-30 00:00:00', offset='M'): 0.037929900000000003, Timestamp('2008-11-30 00:00:00', offset='M'): -0.16715799999999997, Timestamp('2013-05-31 00:00:00', offset='M'): 0.056573399999999996, Timestamp('2012-10-31 00:00:00', offset='M'): -0.036186200000000002, Timestamp('2008-08-31 00:00:00', offset='M'): 0.042537049999999986, Timestamp('2010-06-30 00:00:00', offset='M'): -0.067751200000000011, Timestamp('2007-04-30 00:00:00', offset='M'): 0.04940785000000001, Timestamp('2009-05-31 00:00:00', offset='M'): 0.1097896, Timestamp('2007-03-31 00:00:00', offset='M'): 0.03316645, Timestamp('2015-08-31 00:00:00', offset='M'): -0.075466249999999985, Timestamp('2012-01-31 00:00:00', offset='M'): 0.078263150000000004, Timestamp('2007-08-31 00:00:00', offset='M'): -0.027954449999999999, Timestamp('2012-06-30 00:00:00', offset='M'): 0.017454799999999999, Timestamp('2010-07-31 00:00:00', offset='M'): 0.043214500000000003, Timestamp('2011-04-30 00:00:00', offset='M'): 0.015008200000000003, Timestamp('2009-09-30 00:00:00', offset='M'): 0.17405845, Timestamp('2008-06-30 00:00:00', offset='M'): -0.087671100000000002}}